body {
    background-image: url("website-cover.jpg");
    background-size: cover;
    overflow-x: hidden;
    background-repeat: repeat-y;
}

.image {
    width: 100%;
    height: 150px;
}

.row {
    margin: 50px;
}

h3 {
    margin-top: 0 !important;
    padding-top: 0 !important;
}